* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
}

h1 {
  color: white;
  /* margin-top: 100px; */
  margin-left: 25%;
}

#canvas {
  position: absolute;
  left: 40%;
  top: 25%;
  transform: translateY(20%);
}
